@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
  }
  
  .font-burtons {
    font-family: 'Burtons', sans-serif;
  }